.header__lang-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 560px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link:hover {
    opacity: 0.8;
}