.footer__column-links-lists {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .footer__column-links-lists {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .footer__column-links-lists {
        margin-left: 24px;
    }
}

@media screen and (max-width: 720px) {
    .footer__column-links-lists {
        flex-direction: column;
        margin-left: 16px;
    }
}