.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 576px;
        font-size: 77px;
        line-height: 81px;
        margin: 0 auto 27px;
    }
}

@media screen and (max-width: 560px) {
    .lead__title {
        max-width: 432px;
        font-size: 58px;
        line-height: 62px;
        margin: 0 auto 21px;
    }
}

@media screen and (max-width: 470px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto 16px;
    }
}