.lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}


/*  
@media screen and (max-width: 767px) {
    .lead__title {
        font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 320px) / 767));
        line-height: calc(44px + (56 + 56 * 0.7) * ((100vw - 320px) / 767));
    }
}
*/


/*
@media screen and (m-width: 600px) {
    .lead__title {
        max-width: 674px;
        font-size: 90px;
        line-height: 94px;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 640px) {
    .lead__title {
        max-width: 595px;
        font-size: 80px;
        line-height: 84px;
        margin: 0 auto 27px;
    }
}
*/

@media screen and (max-width: 319px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 0 auto 16px;
    }
}

400px max-width: 288px;
font-size: 432 line-height: 56 margin: 0 auto 16px;