.intro {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin: 0 21px 80px;
    }
}

@media screen and (max-width: 560px) {
    .intro {
        margin: 0 19px 72px;
    }
}

@media screen and (max-width: 470px) {
    .intro {
        margin: 0 16px 64px;
    }
}